@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
}

section {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
}

.div-container1 {
    padding-bottom: 20px;
}

.div-container1 img {
    border-radius: 10px;
}

.div-container2 {
    padding: 5px;
}

.div-hidden1 h1 {
    padding-bottom: 1.5em;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

.div-hidden1 h1:hover {
    color: hsl(178, 100%, 50%);
    transition: 0.7s all;
    cursor: pointer;
}

.div-hidden1 p {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    padding-bottom: 1.5em;
    font-weight: 300;
} 

.div-hidden2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5em;
}

.div-icone-etherium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-hidden2 h2 {
    color: hsl(178, 100%, 50%);
    font-size: 18px;
    font-weight: 400;
    padding-left: 5px;
}

.div-icone-time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-hidden2 p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    padding: 0px 5px;
}

.div-container2 hr {
    margin-bottom: 1.5em;
    border: 1px solid hsl(215, 32%, 27%);
}

.div-hidden3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.div-hidden3 img {
    border-radius: 20px;
    border: 1px solid white;
}

.div-hidden3 p {
    padding-left: 1em;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.div-hidden3 span {
    color: white;
    font-weight: 300;
}

.div-hidden3 span:hover {
    color: hsl(178, 100%, 50%);
    transition: 0.7s all;
    cursor: pointer;
}

